#salu_bhai{
width :60px;
height: auto;
}
body{
    background-color: black;
    color: rgb(238, 11, 11);
}
.IQ{
    background:rgb(245, 240, 240) ;
    box-shadow: 5px 5px 20px aqua;
}
#style_op img{
    width:70px;
    height: auto;
    
    

}